@page "/level"


@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data
@inject IConfiguration _config
@inject RTXWebsite1.Data.Cookies Cookie;

@inject NavigationManager NavManager

@if( Cookie.UserID == 0 || Cookie.CurrentLvl == 0)
{
    NavManager.NavigateTo("/");
}

@if( levelInfo == null )
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 div class="title-head">@levelInfo[0].Level_Name</h1>
    <h4 class="header-head">
        @levelInfo[0].Level_Desc
    </h4>
    <hr/>
}

@if(content == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach( var p in content )
    {
        <p>
            <a class="btn btn-primary" href="@p.Module_Path" @onclick="(() => ChangeModule(p.LvlContent_ObjectID))">@p.LvlContent_Name</a>
        </p>
    }
}
@code{
    List<LevelContent>? content;
    List<Level>? levelInfo;

    private async Task GetData()
    {
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "WHERE LevelContent.LvlContent_LevelID = @ThisLvl";

        content = await _data.LoadData<LevelContent, dynamic>(LevelContent.GetSQL() + sql, new { ThisLvl = Cookie.CurrentLvl }, _config.GetConnectionString("RTX"));

        sql = "WHERE Level_ID = @ThisLevel";
        levelInfo = await _data.LoadData<Level, dynamic>(Level.GetSQL() + sql, new { ThisLevel = Cookie.CurrentLvl }, _config.GetConnectionString("RTX"));
    }

    public void ChangeModule( int nextModule)
    {
        Cookie.CurrentModule = nextModule;
    }

    //<a href="/assessments" class="btn btn-primary" @onclick="(() => AccessAssessment(1))" id="@p.Course_ID">Assessments</a>
}

