@page "/quizzes"


@using RTXWebsite1.Models;

@inject RTXWebsite1.IDbContext.IQuizAccess _quiz;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data





<h1 div class="title-head">Quizzes</h1>
<br />




<!-- If quizList exists -->
@if(quizList != null)
{
    quiz.numCorrect = 0;
    <EditForm Model="@quiz" OnValidSubmit="@CalcGrade" >

    <DataAnnotationsValidator/>
    <ValidationSummary />   
    <!-- go through list made from SQL at bottom of file -->
    @foreach (var p in quizList)
    {
              
            <h4>@p.Quiz_Question_Number) @p.Quiz_Question</h4>

             <p>
             <label for="answer">Answer: </label>              
             <InputText name="nameOne" @bind-Value=@p.Quiz_Answers   />            
             
             </p>

            @if( @p.Quiz_Answers != "" )
            {
               @if( @p.Quiz_Answers == @p.Quiz_Correct_Answer )
               {
                    quiz.numCorrect++;
                    
               }
                             
            }

    }
    <button type="submit" class="btn btn-primary"> Submit</button>

    </EditForm>
    
}
else
{
    <p><em>Loading...</em></p>
}




@code {

    RTXWebsite1.Models.Quiz quiz = new RTXWebsite1.Models.Quiz();
    List<Quiz>? quizList;



    private async Task GetData()
    {
        await OnInitializedAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from Quiz where Quiz_Number = 1";

        quizList = await _data.LoadData<Quiz, dynamic>(sql, new { UserID = @Cookie.UserID }, _config.GetConnectionString("RTX"));


    }


    async Task CalcGrade( )
    {



        NavManager.NavigateTo($"/results/{quiz.numCorrect}");
        
      
        

    }



}
