@page "/quizzes"


@using RTXWebsite1.Models;

@inject RTXWebsite1.IDbContext.IQuizAccess _quiz;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data











<center><h3>Quizzes</h3></center>




<!-- Loading -->
@if(quizList != null)
{
    // go through list made from SQL at bottom of file
    @foreach (var p in quizList)
    {
        <h4>@p.Quiz_Question_Number) @p.Quiz_Question</h4>
    }
    
}
else
{
    <p><em>Loading...</em></p>
}



    <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

    <DataAnnotationsValidator/>
    <ValidationSummary />            
  
        <label for="q1">Question 1 Answer: </label>
        <InputText name="iamthename" @bind-Value=quiz.Quiz_Answer_1   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_1)"/>
        
        <button type="submit" class="btn btn-primary"> Submit</button>

    </EditForm>




    <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

    <DataAnnotationsValidator/>
    <ValidationSummary />            
  
        <label for="q2">Question 2 Answer: </label>
        <InputText name="iamthename2" @bind-Value=quiz.Quiz_Answer_2   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_2)"/>
        
        <button type="submit" class="btn btn-primary"> Submit</button>

    </EditForm>




   <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

   <DataAnnotationsValidator/>
   <ValidationSummary />            
  
       <label for="q3">Question 3 Answer: </label>
       <InputText name="iamthename3" @bind-Value=quiz.Quiz_Answer_3   />
       <ValidationMessage For="@(() => quiz.Quiz_Answer_3)"/>
        
       <button type="submit" class="btn btn-primary"> Submit</button>

   </EditForm>



   <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

   <DataAnnotationsValidator/>
   <ValidationSummary />            
  
       <label for="q4">Question 4 Answer: </label>
       <InputText name="iamthename4" @bind-Value=quiz.Quiz_Answer_4   />
       <ValidationMessage For="@(() => quiz.Quiz_Answer_4)"/>
        
       <button type="submit" class="btn btn-primary"> Submit</button>

   </EditForm>



   <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

   <DataAnnotationsValidator/>
   <ValidationSummary />            
  
       <label for="q4">Question 5 Answer: </label>
       <InputText name="iamthename5" @bind-Value=quiz.Quiz_Answer_5   />
       <ValidationMessage For="@(() => quiz.Quiz_Answer_5)"/>
        
       <button type="submit" class="btn btn-primary"> Submit</button>

   </EditForm>




@code {

    RTXWebsite1.Models.Quiz quiz = new RTXWebsite1.Models.Quiz();
    List<Quiz>? quizList;

  
    private async Task GetData()
    {
        await OnInitializedAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from Quiz where Quiz_Number = 1";

        quizList = await _data.LoadData<Quiz, dynamic>(sql, new { UserID = @Cookie.UserID }, _config.GetConnectionString("RTX"));

    }


    async Task ValidateAnswer()
    {     
        int result = await _quiz.ValidateAnswer(quiz, _config);

        if( result == 0 )
        {
            NavManager.NavigateTo("/correctpage");
        }
        else
        {
            NavManager.NavigateTo("/incorrectpage");
        }

    }

}
