@page "/quizzes"


@using RTXWebsite1.Models;

@inject RTXWebsite1.IDbContext.IQuizAccess _quiz;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data





<h1 div class="title-head">Quizzes</h1>
<br />




<!-- If quizList exists -->
@if(quizList != null)
{
    // form begins
    <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

    <DataAnnotationsValidator/>
    <ValidationSummary />    

 
    <!-- go through list made from SQL at bottom of file -->
    @foreach (var p in quizList)
    {
            <h4>@p.Quiz_Question_Number) @p.Quiz_Question</h4>

            // edit form here
            if( @p.Quiz_Question_Number == 1 )
            {
                <p>
                    <label for="answer">Answer: </label>
                    <InputText name="@p.Quiz_Question" @bind-Value=quiz.Quiz_Answer_1   />
                    <ValidationMessage For="@(() => quiz.Quiz_Answer_1)"/>
                </p>
            }
            else if( @p.Quiz_Question_Number == 2 )
            {
                <p>
                    <label for="answer"> Answer: </label>
                    <InputText name="@p.Quiz_Question" @bind-Value=quiz.Quiz_Answer_2   />
                    <ValidationMessage For ="@(() => quiz.Quiz_Answer_2)"/>
                </p>
            }
            else if( @p.Quiz_Question_Number == 3 )
            {
                <p>
                    <label for="answer"> Answer: </label>
                    <InputText name="@p.Quiz_Question" @bind-Value=quiz.Quiz_Answer_3   />
                    <ValidationMessage For ="@(() => quiz.Quiz_Answer_3)"/>
                </p>
            }
            else if( @p.Quiz_Question_Number == 4 )
            {
                <p>
                    <label for="answer"> Answer: </label>
                    <InputText name="@p.Quiz_Question" @bind-Value=quiz.Quiz_Answer_4    />
                    <ValidationMessage For ="@(() => quiz.Quiz_Answer_4)"/>
                </p>
            }
            else if( @p.Quiz_Question_Number == 5 )
            {
                <p>
                    <label for="answer"> Answer: </label>
                    <InputText name="@p.Quiz_Question" @bind-Value=quiz.Quiz_Answer_5   />
                    <ValidationMessage For ="@(() => quiz.Quiz_Answer_5)"/>
                </p>
            }
            else if( @p.Quiz_Question_Number == 6 )
            {
                <p>
                    <label for="answer"> Answer: </label>
                    <InputText DisplayName="@p.Quiz_Question" @bind-Value=quiz.Quiz_Answer_6   />
                    <ValidationMessage For = "@(() => quiz.Quiz_Answer_6)"/>
                </p>
            }

    }

    <button type="submit" class="btn btn-primary"> Submit</button>

    </EditForm>
    
}
else
{
    <p><em>Loading...</em></p>
}


@*
    <EditForm Model="@quiz" OnValidSubmit="@ValidateAnswer">

    <DataAnnotationsValidator/>
    <ValidationSummary />            
  
        <p>
        <label for="q1">Question 1 Answer: </label>
        <InputText name="iamthename" @bind-Value=quiz.Quiz_Answer_1   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_1)"/>
        </p>

        <p>
        <label for="q2">Question 2 Answer: </label>
        <InputText name="iamthename2" @bind-Value=quiz.Quiz_Answer_2   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_2)"/>
        </p>

        <p>
        <label for="q3">Question 3 Answer: </label>
        <InputText name="iamthename3" @bind-Value=quiz.Quiz_Answer_3   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_3)"/>
        </p>

        <p>
        <label for="q4">Question 4 Answer: </label>
        <InputText name="iamthename4" @bind-Value=quiz.Quiz_Answer_4   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_4)"/>
        </p>

        <p>
        <label for="q4">Question 5 Answer: </label>
        <InputText name="iamthename5" @bind-Value=quiz.Quiz_Answer_5   />
        <ValidationMessage For="@(() => quiz.Quiz_Answer_5)"/>
        </p>
        
        <button type="submit" class="btn btn-primary"> Submit</button>

    </EditForm>

*@


@code {

    RTXWebsite1.Models.Quiz quiz = new RTXWebsite1.Models.Quiz();
    List<Quiz>? quizList;



    private async Task GetData()
    {
        await OnInitializedAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from Quiz where Quiz_Number = 1";

        quizList = await _data.LoadData<Quiz, dynamic>(sql, new { UserID = @Cookie.UserID }, _config.GetConnectionString("RTX"));


    }


    async Task ValidateAnswer()
    {     
        int result = await _quiz.ValidateAnswer(quiz, _config);

        if( result == 0 )
        {
            NavManager.NavigateTo("/results");
        }
        else if( result == 1 )
        {
            NavManager.NavigateTo("/resultsfirst");
        }
        else if( result == 2 )
        {
            NavManager.NavigateTo("/resultssecond");
        }
        else if( result == 3 )
        {
            NavManager.NavigateTo("/resultsthird");
        }
        else if( result == 4 )
        {
            NavManager.NavigateTo("/resultsfourth");
        }
        else if( result == 5 )
        {
            NavManager.NavigateTo("/resultsfifth");
        }
        else if( result == 6 )
        {
            NavManager.NavigateTo("/resultssixth");
        }
        else if( result == -1 )
        {
            NavManager.NavigateTo("/error");
        }
        else
        {
            NavManager.NavigateTo("/error");
        }


    }



}
