@page "/quizzes"


@using RTXWebsite1.Models;

@inject RTXWebsite1.IDbContext.IQuizAccess _quiz;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data

@using System;



<h1 div class="title-head"> Quizzes </h1>
<br />



<!-- If quizList exists -->
@if(quizList != null)
{
    // initialize variables
    quiz.numCorrect = 0;
    quiz.numberOfQuestions = 0;

    <EditForm Model="@quiz" OnValidSubmit="@CalcGrade" >

    <DataAnnotationsValidator/>
    <ValidationSummary />   
    <!-- go through list made from SQL at bottom of file -->
    @foreach (var p in quizList)
    {
            
        
            <h4>@p.Quiz_Question_Number) @p.Quiz_Question</h4>

            // increment answered questions count
            quiz.numberOfQuestions++;

            // if not multiple choice
            if( @p.Quiz_Answer_A == null && @p.Question_Type != "Matching" )
            {
                
                <label for="answer">Answer: </label>              
                <InputText name="nameOne" @bind-Value=@p.Quiz_Answers   />                     
                
            }

            // otherwise it is multiple choice
            // check answers
            if(@p.Quiz_Answer_A != null && @p.Question_Type != "Matching" )
            {
                
                <InputRadioGroup @bind-Value=@p.Quiz_Answers >
                    
                        <InputRadio Value="@p.Quiz_Answer_A" /> @p.Quiz_Answer_A  &nbsp;
                    
                </InputRadioGroup>
                

            }
            if(@p.Quiz_Answer_B != null && @p.Question_Type != "Matching" )
            {
                <InputRadioGroup @bind-Value=@p.Quiz_Answers >
                    
                        <InputRadio Value="@p.Quiz_Answer_B" /> @p.Quiz_Answer_B  &nbsp;
                    
                </InputRadioGroup>
            }
            if(@p.Quiz_Answer_C != null && @p.Question_Type != "Matching" )
            {
                <InputRadioGroup @bind-Value=@p.Quiz_Answers >
                    
                        <InputRadio Value="@p.Quiz_Answer_C" /> @p.Quiz_Answer_C  &nbsp;
                    
                </InputRadioGroup>                
            }
            if(@p.Quiz_Answer_D != null && @p.Question_Type != "Matching" )
            {
                <InputRadioGroup @bind-Value=@p.Quiz_Answers >
                    
                        <InputRadio Value="@p.Quiz_Answer_D" /> @p.Quiz_Answer_D  &nbsp;
                    
                </InputRadioGroup>                
            }
            if(@p.Quiz_Answer_E != null && @p.Question_Type != "Matching" )
            {
                <InputRadioGroup @bind-Value=@p.Quiz_Answers >
                    
                        <InputRadio Value="@p.Quiz_Answer_E" /> @p.Quiz_Answer_E  &nbsp;
                    
                </InputRadioGroup>                
            }
            if(@p.Quiz_Answer_F != null && @p.Question_Type != "Matching" )
            {
                <InputRadioGroup @bind-Value=@p.Quiz_Answers >
                    
                        <InputRadio Value="@p.Quiz_Answer_F" /> @p.Quiz_Answer_F  &nbsp;
                    
                </InputRadioGroup>
            }


            
            
            @if( @p.Question_Type == "Matching" )
            {

                // quiz answer A
                if( @p.Quiz_Answer_A != null )
                {
                    <InputSelect @bind-Value=@p.Entered_Answer_A>
                                if( @p.Quiz_Answer_A != null )
                                {
                                    <option> @p.Quiz_Answer_A  </option>
                                }

                                if( @p.Quiz_Answer_B != null )
                                {
                                    <option> @p.Quiz_Answer_B  </option>
                                }
 
                                if( @p.Quiz_Answer_C != null )
                                {
                                    <option> @p.Quiz_Answer_C  </option>
                                }
   
                                if( @p.Quiz_Answer_D != null )
                                {
                                    <option> @p.Quiz_Answer_D  </option>
                                }

                                if( @p.Quiz_Answer_E != null )
                                {
                                    <option> @p.Quiz_Answer_E  </option>
                                }


                                if( @p.Quiz_Answer_F != null )
                                {
                                    <option> @p.Quiz_Answer_F  </option>
                                }
                   </InputSelect>                    
                }


                // quiz answer B
                if( @p.Quiz_Answer_B != null )
                {
                    <InputSelect @bind-Value=@p.Entered_Answer_B>
                                if( @p.Quiz_Answer_A != null )
                                {
                                    <option> @p.Quiz_Answer_A  </option>
                                }

                                if( @p.Quiz_Answer_B != null )
                                {
                                    <option> @p.Quiz_Answer_B  </option>
                                }
 
                                if( @p.Quiz_Answer_C != null )
                                {
                                    <option> @p.Quiz_Answer_C  </option>
                                }
   
                                if( @p.Quiz_Answer_D != null )
                                {
                                    <option> @p.Quiz_Answer_D  </option>
                                }

                                if( @p.Quiz_Answer_E != null )
                                {
                                    <option> @p.Quiz_Answer_E  </option>
                                }
                                
                                if( @p.Quiz_Answer_F != null )
                                {
                                    <option> @p.Quiz_Answer_F  </option>
                                }

                    </InputSelect>                    
                }


                // quiz answer C
                if( @p.Quiz_Answer_C != null )
                {
                    <InputSelect @bind-Value=@p.Entered_Answer_C>
                                if( @p.Quiz_Answer_A != null )
                                {
                                    <option> @p.Quiz_Answer_A  </option>
                                }

                                if( @p.Quiz_Answer_B != null )
                                {
                                    <option> @p.Quiz_Answer_B  </option>
                                }
 
                                if( @p.Quiz_Answer_C != null )
                                {
                                    <option> @p.Quiz_Answer_C  </option>
                                }
   
                                if( @p.Quiz_Answer_D != null )
                                {
                                    <option> @p.Quiz_Answer_D  </option>
                                }

                                if( @p.Quiz_Answer_E != null )
                                {
                                    <option> @p.Quiz_Answer_E  </option>
                                }

                                if( @p.Quiz_Answer_F != null )
                                {
                                    <option> @p.Quiz_Answer_F  </option>
                                }
                    </InputSelect>                    
                }


                // quiz answer D
                if( @p.Quiz_Answer_D != null )
                {
                    <InputSelect @bind-Value=@p.Entered_Answer_D>
                                if( @p.Quiz_Answer_A != null )
                                {
                                    <option> @p.Quiz_Answer_A  </option>
                                }

                                if( @p.Quiz_Answer_B != null )
                                {
                                    <option> @p.Quiz_Answer_B  </option>
                                }
 
                                if( @p.Quiz_Answer_C != null )
                                {
                                    <option> @p.Quiz_Answer_C  </option>
                                }
   
                                if( @p.Quiz_Answer_D != null )
                                {
                                    <option> @p.Quiz_Answer_D  </option>
                                }


                                if( @p.Quiz_Answer_E != null )
                                {
                                    <option> @p.Quiz_Answer_E  </option>
                                }
                                
                                if( @p.Quiz_Answer_F != null )
                                {
                                    <option> @p.Quiz_Answer_F  </option>
                                }


         
                    </InputSelect>                    
                }


                // quiz answer E
                if( @p.Quiz_Answer_E != null )
                {
                    <InputSelect @bind-Value=@p.Entered_Answer_E>

                                if( @p.Quiz_Answer_A != null )
                                {
                                    <option> @p.Quiz_Answer_A  </option>
                                }

                                if( @p.Quiz_Answer_B != null )
                                {
                                    <option> @p.Quiz_Answer_B  </option>
                                }
 
                                if( @p.Quiz_Answer_C != null )
                                {
                                    <option> @p.Quiz_Answer_C  </option>
                                }
   
                                if( @p.Quiz_Answer_D != null )
                                {
                                    <option> @p.Quiz_Answer_D  </option>
                                }

                                if( @p.Quiz_Answer_E != null )
                                {
                                    <option> @p.Quiz_Answer_E  </option>
                                }
                                
                                if( @p.Quiz_Answer_F != null )
                                {
                                    <option> @p.Quiz_Answer_F  </option>
                                }
                                
                    </InputSelect>                    
                }


                // quiz answer F
                if( @p.Quiz_Answer_F != null )
                {
                    <InputSelect @bind-Value=@p.Entered_Answer_F>

                                if( @p.Quiz_Answer_A != null )
                                {
                                    <option> @p.Quiz_Answer_A  </option>
                                }

                                if( @p.Quiz_Answer_B != null )
                                {
                                    <option> @p.Quiz_Answer_B  </option>
                                }
 
                                if( @p.Quiz_Answer_C != null )
                                {
                                    <option> @p.Quiz_Answer_C  </option>
                                }
   
                                if( @p.Quiz_Answer_D != null )
                                {
                                    <option> @p.Quiz_Answer_D  </option>
                                }

                                if( @p.Quiz_Answer_E != null )
                                {
                                    <option> @p.Quiz_Answer_E  </option>
                                }

                                if( @p.Quiz_Answer_F != null )
                                {
                                    <option> @p.Quiz_Answer_F  </option>
                                }
                                
                    </InputSelect>                    
                }
         
            }
            
            <br/>
            

            <!-- If question has been answered -->
            @if( @p.Quiz_Answers != "" )
            {

               // if answered correctly
               @if( @p.Quiz_Answers.ToLower() == @p.Quiz_Correct_Answer_A.ToLower() || @p.Quiz_Answers.ToLower() == @p.Quiz_Correct_Answer_B.ToLower() )
               {

                    // increment number correct count
                    quiz.numCorrect++;
                    
               }
                          
            }

            <br/>
        
    }


    <!-- Submits to CalcGrade() -->
    <button type="submit" class="btn btn-primary"> Submit</button>
    <br/>

    </EditForm>
    <br/>
    <br/>


}
else
{
    <p><em>Loading...</em></p>
}




@code {


    RTXWebsite1.Models.Quiz quiz = new RTXWebsite1.Models.Quiz();
    List<Quiz>? quizList;



    private async Task GetData()
    {
        await OnInitializedAsync();
    }


    protected override async Task OnInitializedAsync()
    {

        string sql = "select * from Quiz where Quiz_Number = 1";

        quizList = await _data.LoadData<Quiz, dynamic>(sql, new { UserID = @Cookie.UserID }, _config.GetConnectionString("RTX"));

    }


    async Task CalcGrade( )
    {

        // navigate to results page while passing in 2 parameters
        NavManager.NavigateTo($"/results/{quiz.numCorrect}/{quiz.numberOfQuestions}");

    }






}