@page "/results/{NumberCorrect}/{NumberQuestions}"



@using RTXWebsite1.Models;

@inject RTXWebsite1.IDbContext.IQuizAccess _quiz;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data


<h1 div class="title-head"> Quiz Results </h1>
<br />



<p> Your Score: @NumberCorrect out of @NumberQuestions </p>








    @if( quizList != null )
    {
        <!-- go through list made from SQL at bottom of file -->
        @foreach (var p in quizList )
        {
            if( accountList != null )
            {
                
                    @if( @p.Show_Answer_Bool == "True" && gainAccess()  )
                    {

                        <br/>
                        <br/>
                        <p>Correct Answers listed below: </p>
                        <br/>

                        <p>@p.Quiz_Question_Number) @p.Quiz_Question </p>
                            
                        @if( @p.Question_Type != "Matching")
                        {
                            <p>Correct Answer: <b>@p.Quiz_Correct_Answer</b> </p>
            
                        }
                        else if (@p.Question_Type == "Matching" )
                        {
                            if( @p.Quiz_Answer_A != null )
                            {
                                <p>Matching Answer #1: <b>@p.Matching_Correct_Option_A</b></p>
                            }
                            if( @p.Quiz_Answer_B != null )
                            {
                                <p>Matching Answer #2: <b>@p.Matching_Correct_Option_B</b></p>
                            }
                            if( @p.Quiz_Answer_C != null )
                            {
                               <p>Matching Answer #3: <b>@p.Matching_Correct_Option_C</b></p>
                            }
                            if( @p.Quiz_Answer_D != null )
                            {
                               <p>Matching answer #4: <b>@p.Matching_Correct_Option_D</b></p>
                            }
                            if( @p.Quiz_Answer_E != null )
                            {
                               <p>Matching Answer #5: <b>@p.Matching_Correct_Option_E</b></p>
                            }
                            if( @p.Quiz_Answer_F != null )
                            {
                                <p>Matching Answer #6: <b>@p.Matching_Correct_Option_F</b></p>
                            }
           
                        }
                    }
                 
           }

 


        <br/>

        }
    }




<br/>




@code {

    [Parameter]
    public string NumberCorrect { get; set; }

    [Parameter]
    public string NumberQuestions { get; set; }

    List<Quiz>? quizList;

    List<Account>? accountList;


    private async Task GetData()
    {
        await OnInitializedAsync();
    }


    protected override async Task OnInitializedAsync()
    {

        string sql = "select * from Quiz where Quiz_Number = 1";

        quizList = await _data.LoadData<Quiz, dynamic>(sql, new { UserID = @Cookie.UserID }, _config.GetConnectionString("RTX"));

        string sqlAgain = "select * from Account where Account_ID = @UserID";

        accountList = await _data.LoadData<Account, dynamic>(sqlAgain, new { UserID = @Cookie.UserID}, _config.GetConnectionString("RTX"));

    }

    // toggle to show correct answers
    private Boolean gainAccess()
    {
        if (accountList != null)
        {
           @foreach( var p in accountList )
           {
               // if superAdmin or admin
               if( @p.Account_Role == "superadmin" || @p.Account_Role == "admin" )
               {
                   // return success
                   return true;
               }
           }
        }
        // otherwise return unsuccess
        return false;

    }
}