@page "/newdiscussion"

@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration

@inject IDatabaseAccess _data
@inject IConfiguration _config
@inject NavigationManager NavManager
@inject RTXWebsite1.Data.Utils util
@inject RTXWebsite1.Data.Cookies Cookie;


<h1 div class="title-head">New Discussion</h1>
<hr />
    <EditForm Model=@discussion OnValidSubmit="submitDiscussion">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="DiscussionName">Title:</label>
            <InputText @bind-Value=discussion.Discussion_Title class="form-control" id="DiscussionName" />
        </div>
        <ValidationMessage For="@(() => discussion.Discussion_Title)"/>

        <div class="form-group">
            <label for="DiscussionContent">Content:</label>
            <InputText @bind-Value=discussion.Discussion_Desc class="form-control" id="DiscussionContent" />
        </div>
        <ValidationMessage For="@(() => discussion.Discussion_Desc)"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

@code {
    RTXWebsite1.Models.DiscussionBoard discussion = new RTXWebsite1.Models.DiscussionBoard();

    async Task submitDiscussion()
    {
        discussion.Discussion_Date = DateTime.Today; // Does not work in current DB
        string sql = "INSERT INTO `RTX`.`DiscussionHead` (`Discussion_Title`, `Discussion_Desc`, `Discussion_CourseID`, `Discussion_AccountID`) VALUES (@Title, @Desc, @Course, @Account);";

        await _data.SaveData(sql, new { Title = @discussion.Discussion_Title, Desc = @discussion.Discussion_Desc, Course = @Cookie.CurrentClass, Account = @Cookie.UserID}, _config.GetConnectionString("RTX"));
        NavManager.NavigateTo("/viewdiscussions");

    }
}