@page "/viewdiscussions"

@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration

@inject IDatabaseAccess _data
@inject IConfiguration _config
@inject NavigationManager NavManager
@inject RTXWebsite1.Data.Utils util
@inject RTXWebsite1.Data.Cookies Cookie;


<h1 div class="title-head">Discussion Board</h1>

<br />

<h3>View Discussions</h3>
<button class="btn btn-primary" @onclick="NewDiscussion">Post New Discussion</button>
<p>
    -----------------------------------------------
</p>
@if (discussions == null)
{
    <p><em>Nothing here. Start a new post?</em></p>
}
else
{
    @foreach (var p in discussions)
    {
        <p>
                <a href="marketplace" @onclick="(() => Reply(p))"> @p.Discussion_Title</a>
        </p>

        <p>
            @p.Discussion_Date | @p.Discussion_Desc
        </p>
       
        <button class="btn btn-primary" @onclick="(() => Reply(p))">Reply</button>
        if(Cookie.CurrentClass == p.Discussion_AccountID)
        {
            <button class="btn btn-primary" @onclick="(() => DeleteDiscussion(p))">DELETE</button>
        }
         <p>
             -----------------------------------------------
        </p>
        
    }
}

@code {
    List<DiscussionBoard>? discussions;
    List<DiscussionBoard>? deletedDiscussion;

    private async Task GetData()
    {
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "Select * from DiscussionHead where Discussion_CourseID = @Class"; // Where classID == currentclass

        discussions = await _data.LoadData<DiscussionBoard, dynamic>(sql, new { Class = Cookie.CurrentClass }, _config.GetConnectionString("RTX"));
    }

    public async Task Reply(DiscussionBoard discussionBoard)
    {
        //**** special edge case ****//
        // if the param passed has a question mark then it glitches
        // so store the name temporarily until we get to the reply screen

        util.paramDiscussionName = discussionBoard.Discussion_Title;

        //util.AnchorId = discussionBoard.I;
        NavManager.NavigateTo($"/replytodiscussion/{discussionBoard.Discussion_Title}");

    }

    public async Task NewDiscussion()
    {
        NavManager.NavigateTo("/newdiscussion");
    }


    public async Task DeleteDiscussion(DiscussionBoard discussionBoard)
    {
        // Delete the posts in the discussion
        string sql = "Delete from DiscussionPost where Post_HeadPostID = @DiscussionID";
        deletedDiscussion = await _data.DeleteData<DiscussionBoard, dynamic>(sql, new { DiscussionID = discussionBoard.Discussion_ID}, _config.GetConnectionString("RTX"));

        // Delete the actual discussion
        sql = "Delete from DiscussionHead where Discussion_ID = @DiscussionID";
        deletedDiscussion = await _data.DeleteData<DiscussionBoard, dynamic>(sql, new { DiscussionID = discussionBoard.Discussion_ID}, _config.GetConnectionString("RTX"));
        NavManager.NavigateTo("/viewdiscussions", forceLoad: true);
    }
}
