@page "/results/{EarnedPoints}/{TotalPoints}"



@using RTXWebsite1.Models;

@inject RTXWebsite1.IDbContext.IAssessmentAccess _assessment;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data




<h1 div class="title-head"> Assessment Results </h1>
<br />





<p> Your Score: @EarnedPoints out of @TotalPoints </p>


<p> Coins Earned: @EarnedPoints </p>





    @if( assessmentList != null )
    {
    // tracking number of answers to print labels for matching questions
    int numberOfAnswers = 0;
    int questionNumber = 0;


    <!-- go through list made from SQL at bottom of file -->
   

        <br/> 
        <br/>
        <br/>
        <p>Correct Answers</p>
        <p>===============</p>
    
    @foreach (var p in assessmentList )
        {
        questionNumber++;
        
                    // if Display_Answers boolean is set to true then show the correct answers (0=false, 1=true because tinyInt)
                    @if( @p.Assessment_Display_Answers == true  )
                    {


                        <b><p> @questionNumber. @p.Assessment_Question </p></b>
                           
                        // if not a matching question
                        @if( @p.Assessment_Question_Type != "Matching" )
                        {
                            
                            foreach( var correctAnswer in answerList )
                            {
                                // display answers
                                if( @correctAnswer.AssessmentAnswer_Assessment_ID == p.Assessment_ID && @correctAnswer.AssessmentAnswer_Correct_Answers != null && correctAnswer.AssessmentAnswer_Correct_Answers != "" )
                                {
                                      <p>Answer: @correctAnswer.AssessmentAnswer_Correct_Answers</p>    
                                }
                        
                            }
                    

                           <br/>

                        }

                        // if a matching question
                        @if (@p.Assessment_Question_Type == "Matching"  )
                        {
                         
                           foreach( var answer in answerList )
                           {


                               if( @answer.AssessmentAnswer_Correct_Answers!= null && answer.AssessmentAnswer_Assessment_ID == p.Assessment_ID )
                               {

                                   numberOfAnswers++;

                                  // display answers
                                   <p> @answer.AssessmentAnswer_Matching_Answer : @answer.AssessmentAnswer_Correct_Answers</p>
                               }
                           }

                           
                        }

                        
                    }
                 
           


        }
    }





@code {

    [Parameter]
    public string EarnedPoints { get; set; }

    [Parameter]
    public string TotalPoints { get; set; }

    List<Assessment>? assessmentList;

    List<PlayerInformation> playerCoins;

    List<PlayerInformation> player;



    List<AssessmentAnswers>? answerList;


    int currentCoins = 0;


    int earnedPoints = 0;

    int totalCoins = 0;





    private async Task GetData()
    {
        await OnInitializedAsync();
    }


    protected override async Task OnInitializedAsync()
    {

        string sql = "select * from Assessment where Assessment_Number = 1";


        assessmentList = await _data.LoadData<Assessment, dynamic>(sql, new { UserID = @Cookie.UserID }, _config.GetConnectionString("RTX"));



        string sqlAnswersTable = "select * from AssessmentAnswer";


        answerList = await _data.LoadData<AssessmentAnswers, dynamic>(sqlAnswersTable, new { UserID = @Cookie.UserID}, _config.GetConnectionString("RTX"));



        sql = "select * from Player where (`Player_ID` = @ThisPlayer)";
        playerCoins = await _data.LoadData<PlayerInformation, dynamic>(sql, new { ThisPlayer = Cookie.PlayerID }, _config.GetConnectionString("RTX"));


        if (playerCoins != null)
        {
            foreach (var p in playerCoins)
            {
                currentCoins = p.Player_Coins;
              
            }
        }

   

        earnedPoints = Convert.ToInt32(EarnedPoints);
        totalCoins = earnedPoints + currentCoins;


        sql = "UPDATE `RTX`.`Player` SET `Player_Coins` = @NewCoins WHERE (`Player_ID` = @ThisPlayer)";
        player = await _data.LoadData<PlayerInformation, dynamic>(sql, new { NewCoins = totalCoins, ThisPlayer = Cookie.PlayerID }, _config.GetConnectionString("RTX"));



    }




}