@page "/grades"

@using RTXWebsite1.Models;

@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data


<!-- Display title -->
<h1 div class="title-head"> Grades </h1>
<br />



@if( gradesList == null )
{
    <p>Loading...</p>
}

@if( gradesList!= null )
{
   @foreach(var p in gradesList )
   {
      <p>My grade in ModuleID: @p.Grades_ModuleID on ObjectID: @p.Grades_ObjectID is: @p.Grades_Score out of @p.Grades_Total </p>

      <!-- Notes: what class does this each grade belong to? (add to database)-->
   }    
}





@code{


   


    List<RTXWebsite1.Models.Grades>? gradesList;


    RTXWebsite1.Models.Grades grades = new RTXWebsite1.Models.Grades();


    private async Task GetData()
    {
        await OnInitializedAsync();
    }



    protected override async Task OnInitializedAsync()
    {
        


        // string sql = "Select `RTX`.`Grades` WHERE (`Player_ID` = @ThisPlayer)";

        string sql = "select * from Grades where Grades_PlayerID = @ThisPlayer";
        gradesList = await _data.LoadData<RTXWebsite1.Models.Grades, dynamic>(sql, new { ThisPlayer = Cookie.PlayerID }, _config.GetConnectionString("RTX"));

    }




}